/* src/styles/Favorite2.css */
.favorite2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  background: #f8f9fa; /* 부드러운 배경 색상 */
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 80px; /* 푸터 공간을 확보하기 위해 하단 여백 추가 */
  position: relative;
}

.favorite2-container h1 {
  font-size: 48px;
  color: #333;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif; /* 현대적인 글꼴 */
  text-align: center;
}

.favorite2-category {
  width: 100%;
  margin-bottom: 60px;
}

.favorite2-category h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.favorite2-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.favorite2-image {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favorite2-category p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.footer {
  background-color: #f1f1f1;
  color: rgb(119, 110, 110);
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
}
