.enjoy-container {
  padding: 20px;
  font-family: 'Ownglyph_noocar-Rg';
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.enjoy-container h2 {
  font-family: 'Danjo-bold-Regular';
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.enjoy-container p {
  padding-top: 5%;
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.hobby-card {
  display: flex;
  align-items: center;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.hobby-card.reading {
  background-image: url('../assets/h_read.jpg');
}

.hobby-card.drawing {
  background-image: url('../assets/h_illust.jpg');
}

.hobby-card.music {
  background-image: url('../assets/h_music.jpg');
}

.hobby-card.game {
  background-image: url('../assets/h_game.jpg');
}

.hobby-card .icon {
  font-size: 24px;
  margin-right: 10px;
}

.hobby-card .label {
  font-weight: bold;
  font-size: 15px;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
  color: #555;
}

.enjoy-container.effect {
  box-shadow: 0 10px 6px -6px #777;
}

.enjoy-container.effect:before, .enjoy-container.effect:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

.enjoy-container.effect:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}